<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.css" rel="stylesheet">
    <script src="/node_modules/angular/angular.js"></script>
    <script src="app.js"></script>

    <script src="dashboard/components/dashboardComponent.js"></script>
    <script src="dashboard.tile/components/dashboardTileComponent.js"></script>
    <script src="dashboard.section/components/dashboardSectionComponent.js"></script>
</head>

<body>
    <!--<div ng-controller="SupplierListController">
        <h1>Suppliers</h1>
        <div class="well">
            <ul class="list-group" ng-repeat="supplier in filteredSuppliers.data">
                <li class="list-group-item">
                    <supplier-link supplier="supplier"></supplier-link>
                </li>
            </ul>
        </div>

        <pagination page="filteredSuppliers.page" total-items="filteredSuppliers.numberOfResults" max-size="filteredSuppliers.total" refresh-callback="filterSupplierList"></pagination>
    </div>-->

    <!--<div>
        <paged-supplier-list></paged-supplier-list>
    </div>-->

    <div class="container">
        <dashboard></dashboard>
    </div>

</body>

</html>